@charset "UTF-8";

//	Core
@import		'core/functions',
			'core/variables',
			'core/mixins',
			'core/extenders',
			'core/normalise',
			'core/animations';

//	Modules
@import		'module/popup-gallery';

body {
	text-align: center;

	> span {
		display: inline-block;
		padding: 20px;
		margin: 20px 0;
		background: #ccc;
		cursor: pointer;
	}
}